<h1>New Track</h1>

<%= form_for @track do |f| %>
  <%= f.label "name", "Name:" %>
  <%= f.text_field("name") %><br>
  <%= f.label "artist", "Artist:" %>
  <%= f.text_field("artist") %><br>
  <%= f.label "link", "Spotiy Link:" %>
  <%= f.text_field("link") %><br>
  <%= f.submit %>
<% end %>

<!-- <form action="/tracks" method="post">
  <label for="name">Name:</label>
  <input name="name">
  <label for="artist">Artist:</label>
  <input name="artist">
  <label for="url">URL:</label>
  <input name="url">
  <input type="submit">
</form> -->