<h1><%= @track.name %></h1>

<p><b><%= @track.name%></b> - <%= @track.artist%></p>

<div>
  <ul>
    <li><a href="#">Play</a></li>
    <li><a href="/tracks/<%= @track.id %>/edit">Edit</a></li>
    <li><a href="/tracks/<%= @track.id %>" method ="delete" onclick="alert('Are you sure you want to delete <%= @track.name %>?')">Delete</a></li>
  </ul>
</div>
<br>
<br>
<div>
  <ul class="nav">
    <nav>
    <li><a href="">Back to playlist</a></li>
    <li><a href="/tracks">Back to index</a></li>
    </nav>
  </ul>
</div>oa