<h1><%= @track.name %></h1>

<p><b><%= @track.name%></b> - <%= @track.artist%></p>
<p><a href="#">Play</a></p>
<p><a href="/tracks/<%= @track.id %>/edit">Edit</a></p>
<p><a href="/tracks/<%= @track.id %>/delete">Delete</a></p>>
<br>
<p><a href="/tracks">Back to index</a></p>